/Lesson_4/.pytest_cache/
/Lesson_4/unit_tests/.pytest_cache/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/Client-server_app.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
